body {
    min-block-size: 100dvh;
    block-size: auto;
}

textarea {
    resize: vertical;
    inline-size: 90%;
    max-inline-size: 550px;
    font-size: 20px;
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-surface-container);
    padding: 15px;
    border-radius: 5px;
    line-height: 1.6;
    border: 1px solid var(--md-sys-color-outline);
}